@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/core/lib/scss/variables";

#login-form {
  color: $white;
  background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
  background-image: linear-gradient(135deg, #fbc2eb 0%, #a6c1ee 100%);
  background-image: linear-gradient(135deg, $light-gray4 0%, $light-gray2 100%);
  color: #101a31;

  h2 {
    color: #fe0634;
  }
}
