@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/core/lib/scss/variables";

body {
  margin: 0px;
  padding: 0px;
  background-color: $light-gray5;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
}

#main-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 50px);

  #deputy-selector {
    flex-grow: 0;
    background-color: $light-gray4;
    display: flex;
    flex-direction: row;
    padding: 20px 0px;
    justify-content: center;
  }

  #tabs {
    flex-grow: 2;
    padding: 10px 10px;
    height: 100%;
    overflow: hidden;

    .bp3-vertical {
      height: 100%;

      .bp3-tab-panel {
        width: 100%;
      }
    }

    #calendar {
      padding: 30px;
      margin: 0 auto;
      max-width: 900px;
      height: 100%;
    }
  }
}
