@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/core/lib/scss/variables";

#signup-form {
  color: $white;

  background-image: linear-gradient(
    45deg,
    #101a31 0%,
    #101a31 50%,
    #101a31 100%
  );

  h2 {
    color: #fe0634;
  }
}
