@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/core/lib/scss/variables";

$padding: 20px;

#register-container {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: $padding;

  & > *:not(:last-child) {
    margin-right: calc(2 * #{$padding});
  }

  & > * {
    border-radius: 5px;
    min-width: 300px;
    padding: calc(2 * #{$padding});
    flex-grow: 1;
    width: 50%;
  }

  .bp3-form-group {
    button {
      margin: $padding 0px;
      float: right;
    }
  }

  .bp3-form-content > * {
    margin-bottom: $padding;
  }
}
