@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/core/lib/scss/variables";

#documents-viewer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  #documents-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 15px 25px;
    background-color: $light-gray2;
    border-radius: 4px;

    .document-item {
      background-color: $light-gray5;
      border-radius: 3px;
      padding: 6px 15px;
      border-left: 5px solid $gray3;
      -webkit-box-shadow: 1px 1px 1px 0px $light-gray2;
      -moz-box-shadow: 1px 1px 1px 0px $light-gray2;
      box-shadow: 1px 1px 1px 0px $light-gray2;

      &:not(:last-child) {
        margin-right: 15px;
      }

      &.selected {
        border-left: 5px solid $blue3;
      }

      &:hover {
        background-color: $light-gray3;
        cursor: pointer;
      }

      .filename {
        font-size: 16px;
        color: $dark-gray3;
      }

      .date {
        font-size: 12px;
        color: $gray1;
      }
    }
  }

  .document-info {
    flex-grow: 3;
    overflow: hidden;
    display: flex;
    flex-direction: row;

    #document-pie {
      width: 50%;
      overflow: hidden;
      height: 100%;
    }

    .document-spendings {
      overflow-y: scroll;
      width: 50%;
    }
  }

  .pie-amount {
    fill: $gray4;
    font-size: 3em;
    font-weight: 600;
  }
  .pie-sub-amount {
    fill: $gray2;
    font-size: 2em;
    font-weight: 600;
  }
  .pie-percentage {
    fill: $gray2;
    font-size: 1.5em;
    font-weight: 600;
  }
}
