@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/core/lib/scss/variables";

#navbar {
  background-color: #101a31;

  h2,
  h3 {
    text-transform: uppercase;
    color: $white;
    margin: 0px;
  }

  h2 {
    font-weight: 400;
  }

  h2.subtitle {
    font-weight: 700;
  }

  .bp3-navbar-heading {
    cursor: pointer;
  }
}
