@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/core/lib/scss/variables";

.agenda {
  padding: 10px;
  border-bottom: 1px solid $gray5;
  display: flex;
  flex-direction: row;
  align-items: center;

  &:first-of-type {
    border-top: 1px solid $gray5;
  }

  &:hover {
    background-color: $gray5;
  }

  &.selected {
    background-color: $blue3;

    &:hover {
      background-color: $blue2;
    }
  }

  .icon {
    background-color: $light-gray2;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;

    .bp3-icon {
      margin: 0;
    }

    svg {
      fill: $gray2;
    }
  }
}
