@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/core/lib/scss/variables";

.filtering-tools {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px 15px;

  .filter-bar {
    flex-grow: 1;
    margin: 0px 15px;
  }

  .sorting {
    & > .bp3-icon {
      color: $gray1;
    }

    &:hover {
      cursor: pointer;

      & > .bp3-icon {
        color: $dark-gray5;
      }
    }

    &.sorted {
      & > .bp3-icon {
        color: $blue3;
      }

      &:hover > .bp3-icon {
        color: $blue1;
      }
    }
  }
}
