@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/core/lib/scss/variables";

.item {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 15px;

  .card {
    background-color: $white;
    border-radius: 3px;
    border-left: 4px solid $gray1;
    padding: 10px 15px;
    margin-right: 10px;
    box-shadow: 1px 1px 2px $light-gray1;
    min-width: 400px;
    flex-grow: 1;
    position: relative;
    overflow: hidden;

    .card-state {
      position: absolute;
      top: 0;
      right: 0;
      display: none;
      background-color: $light-gray4;
      padding: 10px;
      box-shadow: inset 0 0 1px $gray5;

      &.loading {
        display: block;
      }
    }

    .property {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 5px 0px;

      .bp3-icon {
        margin-right: 10px;
      }

      & > *:not(:first-child) {
        margin: 0px 5px;
      }
    }

    .title:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  .operations {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
