@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/core/lib/scss/variables";

.spending-entry {
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &:not(:last-child) {
    border-bottom: 1px dotted $light-gray1;
  }

  .information {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .date {
    margin-right: 20px;
    font-size: 11px;
  }

  .amount {
    background-color: $gray2;
    color: $white;
    font-weight: 600;
    padding: 2px 6px;
    border-radius: 2px;
  }

  .category {
    background-color: $light-gray2;
    color: $dark-gray1;
    padding: 2px 6px;
    border-radius: 2px;
    margin-right: 10px;
  }

  .supplier {
    color: $gray2;
    font-weight: 200;
  }
}
